body {
  background-image: url(background.jpg);
  background-size: 100% 100%;
}

.board {
  margin-left: 16.75%;
  width: 66%;
}

.row {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.cardPic{
  margin-left: 2em;
  margin-right: 2em;
  height: 13em;
  width:  9em;
  border-radius: 5px;
}
